  body{
    background-size: cover;
      }
      .shade{
        background-color: rgba(0,0,0,0.5);
        height: 130vh;
        margin-bottom: -100px;
        margin-top: -50px;
        
        

      }
       .brand-title{
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        z-index: 5px;
       }
       .netflix{
        
        color: white;
        padding: 1px;
        font-size: 40px;
        font-family:Arial;
        font-weight:bold;
        margin-left: 130px;
        text-shadow: 2px 2px 0px black;
       }
       .netflix:hover{
        font-size:65px;
       }
       .dropdown{
         display: flex;
         justify-content:space-between;
       }
         .signin{
        color: white;
        padding: 10px 4px;
        margin-right:159px;
    
    
       }
       .english{
         color: white;
        padding: 10px 4px;
        border-radius: 15px;
        border: white;
        margin-right:4px;
        
       }
       .section{
         display: block;
         size:fit;
         justify-content: center;
         align-items: center;
         color: white;
         margin-top: 200px;
         margin-left: 500px;
         
       }
       .section-title{
        color: white;
        font-size: 40px;
        font-family:Arial;
        font-weight:bold;
        margin-top: 5px;
       }
       .section-subtitle{
         font-family: Arial;
         font-size:medium ;
         margin-top: 10px;
         font-weight: bold;
         font-family: Arial;
         margin-bottom: 10px;
       }
      #input{
         display: inline-block;
         width: 380px;
         padding: 10px;
         margin-top: 20px;
         border-radius: 5px;
      
       }
       #button{
        padding: 10px;
        border-radius: 5px;
       }
       .subfooter{
        display: grid;
        grid-template-columns:3fr 3fr 3fr 3fr;
       }
       footer{
        background-color: black;
        color: white;
        margin-top: 70px;
        height: 80vh;
  
       }
       .subfooter{
        padding: 70px;
        margin-left: 10%;
       }
       .name{
        margin-left: 50px;
        padding-top: 50px;
        
        
        
       }
       .FAQ span{
        display: block;
        margin-bottom: 10px;
       }
       .helpcenter span{
        display: block;
        margin-bottom: 20px;
       }

    .Acount span{
       display: block;
        margin-bottom: 20px;
    }
    .media_center span{
       display: block;
        margin-bottom: 20px;
    }
       .FAQ {
        /* margin-left: 100px;
        margin-bottom: 100px; */
       }
       .lastbottom{
        margin-left: 10%;
        margin-bottom: 10px;
       }
       #para1 ,#para2{
        padding: 10px;
        margin-bottom: 10px;
       }
      