  body{
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    
      }
      .shade{
       background-color: rgba(0,0,0,0.7); 
        height: 130vh;
        margin-bottom: -100px;
        margin-top:-72px;
        position: sticky;
    
      }
       .brand-title{
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        z-index: 5px;
        padding: 10px;
       }

       .netflix,.signin,.language,.section{
              color: white;
       }
       .netflix{
        padding: 1px;
        font-size: 40px;
        font-family:Arial;
        font-weight:bold;
        margin-left: 130px;
        text-shadow: 2px 2px 0px black;
       }
       .netflix:hover{
        font-size:65px;
       }
       .dropdown{
         display: flex;
         justify-content:space-between;
       }
       .footer-bottom{
            margin-top: -87px;
       }
         .signin{
  
        padding: 10px 4px;
        margin-right:159px;
    
    
       }
       .language{
        
        padding: 10px 4px;
        border-radius: 15px;
        border: white;
        margin-right:4px;
        
       }
       .section{
         display: block;
     
      margin-top: 109px;
  
      margin-left: 32%;

         
       }
       .section-title{
        color: white;
        font-size: 40px;
        font-family:Arial;
        font-weight:bold;
        margin-top: 5px;
       }
       .section-subtitle{
         font-family: Arial;
         font-size:medium ;
         margin-top: 10px;
         font-weight: bold;
         font-family: Arial;
         margin-bottom: 10px;
       }
      #input{
         display: inline-block;
         width: 380px;
         padding: 10px;
         margin-top: 20px;
         border-radius: 5px;
      
       }
       #button{
        padding: 10px;
        border-radius: 5px;
       }
       .footerlinks{
        display: grid;
        grid-template-columns:3fr 3fr 3fr 3fr;
        margin-top: -83px;
        padding: 70px;
        margin-left: 10%;
        
       }
       footer{
        background-color: black;
        color: white;
        margin-top: 70px;
        /* height: 100vh; */
         font-size: small;
         font-family: Arial;
             margin-bottom: -18px;
       }
        .footer1{
          margin-left: 6%;
        }

       
       .contact{
        margin-left: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
       }
       .FAQ span{
        display: block;
        margin-bottom: 10px;
       }
       .helpcenter span,.Acount span{
        display: block;
        margin-bottom: 20px;
       }
      .bottom_para{
        margin-left: 30%;
        margin-top: 80px;
      }
    
    .media_center span{
       display: block;
        margin-bottom: 20px;
    }
      
       .lastbottom{
        margin-left: 10%;
        margin-bottom: 10px;
       }
       #country-label ,#para2{
        padding: 10px;
      
       }
#number{
  
         margin-left: 29%;
         margin-top:20px;
         width:400px;
          height:40px;
          border-radius:10px;
          margin-right: 10px;
}